
<nav>
  <a routerLink="/dashboard" href="/dashboard" routerLinkActive="active">Dashboard</a>|
  <a routerLink="/login" href="/login" routerLinkActive="active">Logout</a>|
  <a routerLink="/aboutus"href="/aboutus" routerLinkActive="active">Aboutus</a>|
  <a routerLink="/sample" href="/sample" routerLinkActive="active">Sample</a>|
  <a routerLink="/heroes" href="/heroes" routerLinkActive="active">Heroes</a>|
  <a routerLink="/customers" href="/customers" routerLinkActive="active">Customers</a>

</nav>