<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
 <div class="log">
       LOGIN
        <form class="box">
                
                <input type="text" name="Username" placeholder="Username"  [(ngModel)]="data.username">
                <input type="password" name="Password" placeholder="Password"  [(ngModel)]="data.password">
                <input type="button" name="Login" value="Login" (click)="onClicking()">
                <input type="button" name="aboutus" value="Aboutus" (click)="onAboutus()">
                


              </form>
    </div>

</div>



