
.log
{
    border: 1px solid seagreen;
    background-color: aquamarine;
    animation:nn 3s infinite;
}
@keyframes nn
{
    from {background-color:aquamarine;}
    to {background-color: yellow;}
}

.log{position:absolute;top:130px;left:450px;width:35%;height:55%;border-radius: 15px;}
.log {text-align:center;font:45px solid;}
.log input[type = "text"],.log input[type = "password"]{
border:0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline: none;
color:black;
border-radius: 24px;
transition: 0.25s;
background-color: wheat;
}
.log input[type = "text"]:focus,.log input[type = "password"]:focus{
width: 280px;
border-color: #2ecc71;
}
.box input[type = "button"]{
border:0;
background: rgb(112, 218, 130);
display: block;
margin: 10px auto;
text-align: center;
border: 2px solid #2ecc71;
padding: 10px 20px;
outline: none;
color:red;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}
.box input[type = "button"]:hover{
    
background: #2ecc71;
}